* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.pict {
    width: 50%;
    text-align: center;
}
.content {
    width: 50%;
    padding: 60px 5px 180px 15px ;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #282A30;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    -webkit-text-stroke-color: #282A30; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-fill-color: transparent;
    font-weight: bold;

}
.text {

    font-size: 22px;
    font-weight: normal;
    color: #282A30;
    margin-top: 55px;
    margin-bottom: 48px;
}
.my-button {
    font-family: "Roboto", sans-serif;
    border: none;
    color: white;
    background:#F7515C;
    padding: 25px 52px 25px 52px;
    font-size: 22px;
    width: 230px;
    height: 78px;
}
@media(max-width:930px){
    section {
        flex-direction: column;
    }
.pict,
.content{
    width: 100%;
}
img {
    width: 100%;

}
h1 {
    font-size: 80px;
}
}